@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <span class="navbar-text">Hello, User!</span>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login" class="nav-link">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
